<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello 랭률러JS</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body data-ng-app="myApp">
    <div data-ng-controller="helloWorldCtrl">
        <h1>안녕하세요. 랭귤러 {{name.first}} {{name.last}}! </h1>
        <input data-ng-model="name.first">
        <input data-ng-model="name.last">
    </div>

    <script src="js/vendor/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
</body>
</html>